*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    transition: 0.3s all ease-in-out;
}
body{
   display: block;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #fff;
}


.lateral{
    display: flex;
    margin-top: 2vh;
}

.firstPara{
    display: block;
    width: 25vw;
    margin-top: 25vh;
    margin-left: 35vw;
    background-color:whitesmoke;
    border: 2px solid;
    border-color: #10182F;
    padding: 25px;
    border-radius: 5px;
}


.firstPara2{
    display: block;
    width: 35vw;
    margin-top: 25vh;
    margin-left: 33vw;
    background-color:whitesmoke;
    border: 2px solid;
    border-color: #10182F;
    padding: 25px;
    border-radius: 5px;
}


.firstPara3{
    display: block;
    width: 30vw;
    margin-top: 25vh;
    margin-left: 33vw;
    background-color:whitesmoke;
    border: 2px solid;
    border-color: #10182F;
    padding: 25px;
    border-radius: 5px;
}

.inputEmail{
    padding: 2px;
}

.resetBtn{
    margin-top: 15px;
    margin-bottom: -10px;
    padding: 5px;
    border: 1px solid #10182F;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.shadow-wrap{
    border-radius: 5px;
    padding: 5px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 15vh;
    background-color:#10182F;
}


.shadow-wrap2{
    border-radius: 5px;
    margin-left: 5vw;
    margin-right: 5vw;
}


.form-wrap{
    background-color: #fff;
    padding: 70px;
}

.form-wrap form *{
    display: block;
    width: 100%;
}

.newForm input{
    padding: 2px;   
}

.form-wrap form label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px; 
}

.form-wrap form input{
   padding: 12px 20px;
   border-radius: 5px;
   border: 1px solid #DAE1F5;
   background: #FFF; 
   color: #545D7A; 
}

#id_username{
    margin-bottom: 20px;
}

.form-wrap button{
    border-radius: 5px;
   background: #10182F;
   color: #FFF;
   cursor: pointer;
   text-align: center;
   font-size: 16px;
   padding: 12px 68px;
   font-weight: 700;
   border: 1px solid transparent;
   margin-top: 30px;
   line-height: 26px; 
}

.signup-link{
    margin-top: 15px;
    margin-bottom: -10px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    color: #10182F;
    font-size: 13px;
    font-weight:600;
    margin-left: 10px;
    text-align: center;
    line-height: 25px;
    display: block;
    text-decoration: none;
}

.signup-link:hover{
    text-decoration: underline;
}

.form-wrap button:hover{
    background-color: #fff;
    color: #10182F;
    border-color: #10182F;
}